@import "./../../scss/common/variables.scss";

.swiper {
  &#start {
    .swiper-button-prev {
      background-image: url("./../../icons/hero/swiper-prev-btn.svg") !important;
      background-size: 40px !important;
      background-repeat: no-repeat !important;
      width: 40px;
      height: 40px;
      left: 40px;
      &::after {
        font-size: 0;
      }
    }
    .swiper-button-next {
      background-image: url("./../../icons/hero/swiper-next-btn.svg") !important;
      background-size: 40px !important;
      background-repeat: no-repeat !important;
      width: 40px;
      height: 40px;
      right: 40px;
      &::after {
        font-size: 0;
      }
    }
    .swiper-pagination-bullet {
      width: 16px;
      height: 16px;
      &-active {
        background-color: $white-01;
        border: 1px solid $black-01;
      }
    }
  }
}

@media (max-width: 760px) {
  .swiper {
    &#start {
      height: 100dvh;
      pointer-events: none;
      .swiper-button-prev,
      .swiper-button-next {
        display: none;
      }
      .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
      }
    }
  }
}
